#table-of-contents {
    position: fixed;
    top: 0;
    left: 0;
    padding: 2em 0 2em 2em;
    width: 380px;
    height: 100vh;
    font-size: 13px;
    background: #F2F2F2;
    overflow: auto;
}

#table-of-contents  #text-table-of-contents > ul {
    padding-left: 0;
}

#table-of-contents  #text-table-of-contents > ul > li {
    list-style: none;
    font-weight: normal;
}

#table-of-contents  #text-table-of-contents > ul > li > ul {
    padding-left: 20px;
    list-style: none;
}

#text-table-of-contents > ul ul ul {
    padding-left: 20px;
}

#text-table-of-contents ul ul ul li {
    list-style: circle;
}

body {
    margin-left: 400px;
}

body,
#footnotes {
    max-width: 90ch;
}

#footnotes h2 {
    font-size: 1rem;
}

#footnotes p {
    font-size: 0.9rem;
}


#list-of-tables h2 {
    font-size: 1rem;
}

#text-list-of-tables {
    color: #7A7494;
}

#text-list-of-tables span{
    color: navy;
}

dl dd {
    text-align: left;
    padding-left: 10px;
    font-stylehh: italic;
}
